---
title: Intro to Leaflet
subtitle: Adding Basemaps (Tile Layers)
description: >-
  Basemaps are an important feature to most maps. Here we are using the raster OpenStreetMap HOT basemap. The <a href="http://leaflet-extras.github.io/leaflet-providers/preview/index.html" target="_blank">Leaflet Providers</a> plugin provides a great resource for available tile layers. Understand however that some tile layers require a key or have strict usage guidelines. This same method can be used to add WMS layers. Once we add the tile layer, we can then add it to the layer control we defined in step one.<br /><br />

  <pre><code class="javascript hljs">
  /*Easily add basemaps or baselayers with L.tileLayer wms layers can also be added with L.tileLayer.wms */

    var OpenStreetMap_HOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '© OpenStreetMap, Tiles courtesy of Humanitarian OpenStreetMap Team'
    }).addTo(map);

    layerControl.addBaseLayer(OpenStreetMap_HOT, "Streets");
  </code></pre>
---
{% include leaflet/basic.js %}
{% include leaflet/basemaps.js %}
