---
title: Intro to Leaflet
subtitle: Adding Data via Omnivore
description: >-
  Leaflet accepts <a href="http://geojson.org/" target="_blank">GeoJSON</a> data natively, and it can be loaded in a variety of ways. Here we are using the omnivore plugin to load the data into a native Leaflet <a href="http://leafletjs.com/reference-1.0.3.html#geojson" target="_blank">L.geoJson()</a> layer. Before the layer is added to the map, the data can be filtered, the layer styled and a function run on each feature. We will look at this in step 4. Again, after we have added the layer to the map we also add it to the layer control.
---
{% include leaflet/basic.js %}
{% include leaflet/basemaps.js %}
{% include leaflet/omnivore.js %}
