<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        {% if page.description %}
        <div class="content">
          {{page.description}}
        </div>
        {% endif %}
        {% if page.map != false %}<div id="map">
        </div>
        <div>
          {% if page.note %}{{page.note}}{%endif%}
        </div>
      </div>
     </div>
     <div>
       {% if page.previous.url %}
         <a class="is-pulled-left button is-success is-outlined" href="{{site.baseurl}}{{page.previous.url }}">&laquo; {{page.previous.subtitle}}</a>
       {% endif %}
       {% if page.next.url %}
         <a class="is-pulled-right button is-success is-outlined" href="{{site.baseurl}}{{page.next.url }}">{{page.next.subtitle}} &raquo;</a>
       {% endif %}
     </div>
  </div>
</div>
<div class="section">
  <div class="container content">
    {% if page.map != false %}
    <h4>Full Map Code</h4>
    <div id="code" class="">
    <pre style="background-color: #eee;">
      <code class="{% if page.map != false%}javascript{% else%}html{%endif%}">
{% if page.css %}/*custom page styles*/
{{ page.css}}
/**/
{% endif %}
{{ content }}
      </code>
    </pre>
  </div>
  {% if page.map != false %}
  <script>
  {{content}}
  </script>
  {% endif %}
  {% endif %}
  </div>
</div>
{% else %}
        {{ content }}
        </div>
      </div>
     </div>
  </div>
</div>
{% endif %}
