  <!-- Leaflet -->
  <link rel="stylesheet" href="{{site.baseurl}}/leaflet/plugins/leaflet/leaflet.css" />
  <script src="{{site.baseurl}}/leaflet/plugins/leaflet/leaflet.js"></script>
  <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js"></script>
  <!-- Omnivore -->
  <script src="{{site.baseurl}}/leaflet/plugins/omnivore/leaflet-omnivore.min.js"></script>
  <!-- Search -->
  <link rel="stylesheet" href="{{site.baseurl}}/leaflet/plugins/search/leaflet-search.min.css" />
  <script src="{{site.baseurl}}/leaflet/plugins/search/leaflet-search.min.js"></script>
  <!--Choropleth -->
  <script src="{{site.baseurl}}/leaflet/plugins/choropleth/choropleth.js"></script>
  <!--Turf -->
  <script src="{{site.baseurl}}/leaflet/plugins/turf/turf.min.js"></script>
