---
title: Mapbox GL JS
subtitle: Choropleth Maps
description: This map uses data-driven styling and extruded or 3D polygons. These features are not available for all Mapbox GL features.
css: >-
  #extrude {
    position: absolute;
    top: 150px;
    right: 10px;
    z-index: 9999;
    border-radius: 2px;
    background: white;
    width: 30px;
    padding: 7px 0;
    text-align: center;
    display: block;
    font-size: larger;
    cursor: pointer;
  }
  .active {
    font-weight: bold;
    color: orange;
  }
---
{% include mapbox/01-blank-map.js %}
{% include mapbox/05-choropleth.js %}
