  <!-- Leaflet -->
  <link rel="stylesheet" href="{{site.baseurl}}/map-plugins/leaflet/leaflet.css" />
  <script src="{{site.baseurl}}/map-plugins/leaflet/leaflet.js"></script>
  <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js"></script>
  <!-- Omnivore -->
  <script src="{{site.baseurl}}/map-plugins/omnivore/leaflet-omnivore.min.js"></script>
  <!-- Search -->
  <link rel="stylesheet" href="{{site.baseurl}}/map-plugins/search/leaflet-search.min.css" />
  <script src="{{site.baseurl}}/map-plugins/search/leaflet-search.min.js"></script>
  <!--Choropleth -->
  <script src="{{site.baseurl}}/map-plugins/choropleth/choropleth.js"></script>
  <!--Turf -->
  <script src="{{site.baseurl}}/map-plugins/turf/turf.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
